.navbar{
    background-color: brown;
    padding: 1%;
    font-size: 20px;
    display: flex;
}

a{
    margin-left: 15px;
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: rgb(193, 193, 148);
}